<form (ngSubmit)="savePokemon()" > 

    <div class="container m-8">
        <div class="row">
            <h3> Ajout d'un nouveau pokemon</h3>
        </div>
        <div class="col-6 offset-3">
            <div class="form-group">
                <label for="idNom">Nom :</label>
                <input type="text" id="idNom" class="form-control" name="nom" [(ngModel)]="pokemon.nom" >
            </div>
            <div class="form-group">
                <label for="idType">Type :</label>
                <input type="text" id="idType" class="form-control" name="type" [(ngModel)]="pokemon.type">
            </div>
            <div class="form-group">
                <label for="idPtVie">Point de vie :</label>
                <input type="text" id="idPtVie" class="form-control" name="ptVie" [(ngModel)]="pokemon.ptVie">
            </div>
            <div class="text-center m-8" *ngIf="pokemon.id == 0" >
                <button class="btn btn-success" > Ajouter</button>
            </div>
            <div class="text-center m-8" *ngIf="pokemon.id != 0">
                <button class="btn btn-success" > Modifier</button>
            </div>
        </div>
    </div>
    </form>

    <h1>{{pokemon | json}}</h1>
