<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col-md-1">id</th>
        <th scope="col-md-3">Nom</th>
        <th scope="col-md-3">Type</th>
        <th scope="col-md-4">Point de vie</th>
        <th scope="col-1">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of tableauPokemon" >
        <th>{{pokemon.id}}</th>
        <td>{{pokemon.nom}}</td>
        <td>{{pokemon.type}}</td>
        <td>{{pokemon.ptVie}}</td>
        <td>
          <button class="btn btn-warning m-4" [routerLink]="['/detail/',pokemon.id]" ><i class="fa-solid fa-pen-to-square"></i></button>
          <button class="btn btn-danger m-4" (click)=" supprimerPokemon(pokemon.id)" ><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>

 

    </tbody>
  </table>